<li class="list-group-item">
  <i class=" fa fa-tag fa-2x"></i>
  El usuario 
  <% if activity.trackable %>
    <% offer = activity.trackable %>
    <% service = offer.service_request.service %>

    <%#= link_to offer.user.name, offer.user %>
    <%= link_to offer.user.name, "#" %>
    ha realizado una nueva oferta en 
    <%#= link_to service.title, service%>
    <%= link_to service.title, "#"%>

  <% end %>
</li>