<% if activity.trackable %>
  <li class="list-group-item">
    <i class=" fa fa-tag fa-2x icon"></i>
      El usuario 
      <% offer = activity.trackable %>
      <% service = offer.service_request.service %>

      <%= link_to offer.user.name, offer.user %>
      ha realizado una nueva oferta en 
      <%= link_to service.title, offer.service_request %>
      <% unless activity.read? %>
        <span class="label label-success">Nuevo</span>
      <% end %>
  </li>
<% end %>