<section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="center-heading text-center">
            <h2>¿Quiénes somos?</h2>
            <span class="icon"><i class="fa fa-user"></i></span>
          </div>
          <!--center heading-->
        </div>
      </div>
      <!--center heading-->
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
          <p class="lead margin-btm-30">
            Somos un equipo creativo que decidió trasladar el concepto innovador de cadenas de favores hacía el mundo web.
          </p>
        </div>
      </div>
      <div class="row services">
        <div class="col-md-4 margin-btm-30">
          <div class="service-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
            <i class="fa fa-lightbulb-o"></i>
            <h3>Ideas</h3>
            <p>En este sitio podrás dar a conocer todas tus ideas.</p>
          </div>
        </div>
        <!--service col end-->
        <div class="col-md-4 margin-btm-30">
          <div class="service-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
            <i class="fa fa-cloud"></i>
            <h3>Un servicio en la nube</h3>
            <p>Accede a nuestro servicio desde cualquier dispositivo conectad a internet.
            </p>
          </div>
        </div>
        <!--service col end-->
        <div class="col-md-4 margin-btm-30">
          <div class="service-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
            <i class="fa fa-comment"></i>
            <h3>Manten contacto</h3>
            <p>Mantente en contacto de una manera fácil con todos los proveedores de servicios que necesitas.</p>
          </div>
        </div>
        <!--service col end-->

      </div>
    </div>
    <div class="divided-50"></div>
    <div class="cta">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 margin-btm-30">
            <h3>
              <strong>Cadena de favores</strong> es una forma sencilla de poder solicitar todos esos servicios que necesitas sin ningún costo.
            </h3>
          </div>
          <div class="col-sm-4">
            <a href="#" class="btn btn-theme btn-lg">Regístrate</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--about section end-->