<section class="fun-facts parallax" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 margin-btm-30 text-center">
        <div class="fact-inner">
          <h1 class="counter">1450</h1>
          <h3>Proyectos Completados</h3>
        </div>
      </div>
      <!--facts col-->
      <div class="col-md-4 margin-btm-30 text-center">
        <div class="fact-inner">
          <h1><span class="counter">4245</span>+</h1>
          <h3>Usuarios Felices</h3>
        </div>
      </div>
      <!--facts col-->
      <div class="col-md-4 margin-btm-30 text-center">
        <div class="fact-inner">
          <h1><span class="counter">80000</span></h1>
          <h3>Horas Trabajadas</h3>
        </div>
      </div>
      <!--facts col-->
    </div>
  </div>
</section>
<!--fun facts-->
