<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="footer-col">
          <h3 class="widget-title">
            Regístrate
          </h3>
          <form role="form" class="subscribe-form">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Enter email to subscribe">
              <span class="input-group-btn">
                <a class="btn  btn-theme btn-lg" href="#">Ingresar</a>
              </span>
            </div>
          </form>
        </div>
        <!--footer-col-->
      </div>
    </div>
  </div>
</div>
<!--footer-->