<!--home section end-->
  <section id="navigation">
    <div class="navbar navbar-default navbar-static-top " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%=  link_to "Cadena de favores", site_root_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right scrollto">
            <li><a href="#home">Inicio</a>
            </li>
            <li><a href="#about">¿Quiénes somos?</a>
            </li>
            <li><a href="#team">Miembros</a>
            </li>
            <li><a href="#services">Servicios</a>
            </li>
            <li><a href="#work">Portfolio</a>
            </li>
            <li>
              <%=  link_to "Ingresar", login_path %>
            </li>
            <li>
              <a href="#" class="btn btn-theme btn-sm" style="background-color: #f34541 !important;">Regístrate</a>
            </li>
          </ul>

        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container -->
    </div>
    <!--navbar-default-->
  </section>