<section class="cta-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="#" class="btn btn-lg btn-border-white wow animated slideInLeft" data-wow-duration="700ms" data-wow-delay="100ms">Regístrate</a>
      </div>
    </div>
  </div>
</section>
<!--cta-1 end-->