<section class="cta-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to "Regístrate", signup_path,
                    class: "btn btn-lg btn-border-white wow animated slideInLeft",
                    'data-wow-duration' => "700ms",
                    'data-wow-delay'    => "100ms"  %>
      </div>
    </div>
  </div>
</section>
