<section id="services" class="section-padding parallax bg-heading" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center-heading text-center">
          <h2>Principales Servicios</h2>
          <span class="icon"><i class="fa fa-bars"></i></span>
        </div>
        <!--center heading-->
      </div>
    </div>
    <!--center heading-->
    <div class="row">
      <div class="col-md-6 margin-btm-30 wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="100ms">
        <div class="row">
          <div class="col-md-2">
            <div class="service-icon">
              <i class="fa fa-image"></i>
            </div>
          </div>
          <!--service-icon col-->
          <div class="col-md-10">
            <div class="service-info">
              <h4>Diseño Web</h4>
              <p>
                Encuentra personas con grandes habilidades de diseño y gustos acorde a los tuyos para crear ese sitio web que tanto has soñado.
              </p>
            </div>
          </div>
          <!--service-info-col-->
        </div>
      </div>
      <!--service-col-->
      <div class="col-md-6 margin-btm-30 wow animated fadeInRight" data-wow-duration="700ms" data-wow-delay="200ms">
        <div class="row">
          <div class="col-md-2">
            <div class="service-icon">
              <i class="fa fa-video-camera"></i>
            </div>
          </div>
          <!--service-icon col-->
          <div class="col-md-10">
            <div class="service-info">
              <h4>Fotografía</h4>
              <p>
                Obten esa foto increíble que tanto has deseado a tan sólo unos clicks de distancia.
              </p>
            </div>
          </div>
          <!--service-info-col-->
        </div>
      </div>
      <!--service-col-->
    </div>
    <!--services-row-->
    <div class="divided-50"></div>
    <div class="row">
      <div class="col-md-6 margin-btm-30 wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
        <div class="row">
          <div class="col-md-2">
            <div class="service-icon">
              <i class="fa fa-desktop"></i>
            </div>
          </div>
          <!--service-icon col-->
          <div class="col-md-10">
            <div class="service-info">
              <h4>Computación</h4>
              <p>
                ¿Problemas con tu computadora? ¿No sabes con quién acudir por ayuda? No te preocupes en cadena de favores tenemos el experto que necesitas.
              </p>
            </div>
          </div>
          <!--service-info-col-->
        </div>
      </div>
      <!--service-col-->
      <div class="col-md-6 margin-btm-30 wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
        <div class="row">
          <div class="col-md-2">
            <div class="service-icon">
              <i class="fa fa-users"></i>
            </div>
          </div>
          <!--service-icon col-->
          <div class="col-md-10">
            <div class="service-info">
              <h4>Gran Comunidad</h4>
              <p>
                Tenemos una gran comunidad de usuarios con diferentes habilidades e ideas para que puedas obtener ese servicio que tanto buscas.
              </p>
            </div>
          </div>
          <!--service-info-col-->
        </div>
      </div>
      <!--service-col-->
    </div>
    <!--services-row-->
  </div>
</section>
