<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadena de Favores</title>

  <!-- Bootstrap -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- custom css -->
  <link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
  <!-- font awesome for icons -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!--ytp player-->
  <link href="css/YTPlayer.css" rel="stylesheet" type="text/css">
  <!--flex slider-->
  <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="screen">
  <!-- animated css  -->
  <link href="css/animate.css" rel="stylesheet" type="text/css" media="screen">
  <!--web fonts-->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!--owl carousel css-->
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/owl.theme.css" rel="stylesheet" type="text/css" media="screen">
  <!--popups css-->
  <link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


</head>

<body data-spy="scroll" data-offset="80">

  <section id="home" data-stellar-background-ratio="0.5">
    <div class="parallax-overlay"></div>
    <a id="video" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=OtN4EIwk6qI',containment:'#home', showControls:true, autoPlay:true, loop:true, mute:false, startAt:0, opacity:1, quality:'default'}"></a>

    <div class="home-content text-center">
      <div class="container">
        <span class="home-top-slide-text hidden-xs">Cadena de favores</span>
        <div class="main-flex-slider">
          <ul class="slides">
            <li>
              <h1>Gente que te <span class="colored-text">ayudará</span> </h1>

            </li>
            <li>
              <h1><span class="colored-text">Servicios </span>sin costo</h1>

            </li>
            <li>
              <h1>Un <span class="colored-text">innovador</span> concepto</h1>

            </li>
          </ul>
        </div>
        <div class="home-link-btn text-center">
          <p class="scrollto"><a href="#about" class="btn btn-lg btn-dark-2">Más Detalles </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--home section end-->
  <section id="navigation">
    <div class="navbar navbar-default navbar-static-top " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Cadena de favores</a>
        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right scrollto">
            <li><a href="#home">Inicio</a>
            </li>
            <li><a href="#about">¿Quiénes somos?</a>
            </li>
            <li><a href="#team">Miembros</a>
            </li>
            <li><a href="#services">Servicios</a>
            </li>
            <li><a href="#work">Portfolio</a>
            </li>
            <li><a href="#" class="">Ingresar</a>
            </li>
            <li>
              <a href="#" class="btn btn-theme btn-sm" style="background-color: #f34541 !important;">Regístrate</a>
            </li>
          </ul>

        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container -->
    </div>
    <!--navbar-default-->
  </section>
  <!--navigation section end here-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="center-heading text-center">
            <h2>¿Quiénes somos?</h2>
            <span class="icon"><i class="fa fa-user"></i></span>
          </div>
          <!--center heading-->
        </div>
      </div>
      <!--center heading-->
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
          <p class="lead margin-btm-30">
            Somos un equipo creativo que decidió trasladar el concepto innovador de cadenas de favores hacía el mundo web.
          </p>
        </div>
      </div>
      <div class="row services">
        <div class="col-md-4 margin-btm-30">
          <div class="service-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
            <i class="fa fa-lightbulb-o"></i>
            <h3>Ideas</h3>
            <p>En este sitio podrás dar a conocer todas tus ideas.</p>
          </div>
        </div>
        <!--service col end-->
        <div class="col-md-4 margin-btm-30">
          <div class="service-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
            <i class="fa fa-cloud"></i>
            <h3>Un servicio en la nube</h3>
            <p>Accede a nuestro servicio desde cualquier dispositivo conectad a internet.
            </p>
          </div>
        </div>
        <!--service col end-->
        <div class="col-md-4 margin-btm-30">
          <div class="service-box wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
            <i class="fa fa-comment"></i>
            <h3>Manten contacto</h3>
            <p>Mantente en contacto de una manera fácil con todos los proveedores de servicios que necesitas.</p>
          </div>
        </div>
        <!--service col end-->

      </div>
    </div>
    <div class="divided-50"></div>
    <div class="cta">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 margin-btm-30">
            <h3>

                                <strong>Cadena de favores</strong> es una forma sencilla de poder solicitar todos esos servicios que necesitas sin ningún costo.

                            </h3>
          </div>
          <div class="col-sm-4">
            <a href="#" class="btn btn-theme btn-lg">Regístrate</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--about section end-->
  <section id="team" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="center-heading text-center">
            <h2>Miembros destacados</h2>
            <span class="icon"><i class="fa fa-user"></i></span>
          </div>
          <!--center heading-->
        </div>
      </div>
      <!--center heading-->

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
          <p class="lead margin-btm-30">
            Algunos de nuestros miembos de Cadena de favores más destacados debido a la cantidad de esfuerzo que han dedicado a este servicio.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="100ms">
            <img src="img/team-1.jpg" alt="">
            <h4>Jenelia</h4>
            <span>Diseñadora</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="200ms">
            <img src="img/team-2.jpg" alt="">
            <h4>Smith</h4>
            <span>Gerente de ventas</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="300ms">
            <img src="img/team-3.jpg" alt="">
            <h4>Peter</h4>
            <span>Desarrollador</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="400ms">
            <img src="img/team-4.jpg" alt="">
            <h4>John</h4>
            <span>CEO</span>
          </div>
        </div>
        <!--team col-->
      </div>
      <div class="divided-50"></div>
      <div class="row">
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="500ms">
            <img src="img/team-5.jpg" alt="">
            <h4>Ram</h4>
            <span>Diseñador</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="600ms">
            <img src="img/team-6.jpg" alt="">
            <h4>Hardik</h4>
            <span>Artista</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="700ms">
            <img src="img/team-7.jpg" alt="">
            <h4>Madhukar</h4>
            <span>Comercio electrónico</span>
          </div>
        </div>
        <!--team col-->
        <div class="col-sm-3">
          <div class="team-col wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="800ms">
            <img src="img/team-8.jpg" alt="">
            <h4>Steve</h4>
            <span>HR</span>
          </div>
        </div>
        <!--team col-->
      </div>
    </div>
  </section>
  <!--team-->
  <section class="parallax testimonials bg-heading" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="center-heading text-center">
            <h2 class="wow animated bounceIn" data-wow-duration="700ms" data-wow-delay="100ms">Testimonios</h2>
            <span class="icon"><i class="fa fa-quote-left"></i></span>
          </div>
          <!--center heading-->
        </div>
      </div>
      <!--center heading-->
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div id="testi-carousel" class="owl-carousel">
            <div>
              <h4>
                                    <i class="fa fa-quote-left"></i>
                                    He podido realizar todos los servicios que necesitaba sin gastar
                                    ni un sólo centavo. ¡Amo este servicio!
                                </h4>
              <p>-Michael CC</p>
            </div>
            <!--testimonials item like paragraph-->
            <div>
              <h4>
                                    <i class="fa fa-quote-left"></i>  Amo ayudar a la gente y con este
                                    servicio puedo a ayudar a cualquier persona en cualquier lugar del
                                    mundo.
                                </h4>
              <p>-Rakesh sharma</p>
            </div>
            <!--testimonials item like paragraph-->
            <div>
              <h4>
                                    <i class="fa fa-quote-left"></i>  Puedo realizar muchos favores y así obtener puntos para que otros realicen favores para mí. ¡Increíble idea!
                                </h4>
              <p>-Rakesh sharma</p>
            </div>
            <!--testimonials item like paragraph-->
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--testimonials-->
  <section class="cta-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="#" class="btn btn-lg btn-border-white wow animated slideInLeft" data-wow-duration="700ms" data-wow-delay="100ms">Regístrate</a>
        </div>
      </div>
    </div>
  </section>
  <!--cta-1 end-->
  <section id="services" class="section-padding parallax bg-heading" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="center-heading text-center">
            <h2>Principales Servicios</h2>
            <span class="icon"><i class="fa fa-bars"></i></span>
          </div>
          <!--center heading-->
        </div>
      </div>
      <!--center heading-->
      <div class="row">
        <div class="col-md-6 margin-btm-30 wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="100ms">
          <div class="row">
            <div class="col-md-2">
              <div class="service-icon">
                <i class="fa fa-image"></i>
              </div>
            </div>
            <!--service-icon col-->
            <div class="col-md-10">
              <div class="service-info">
                <h4>Diseño Web</h4>
                <p>
                  Encuentra personas con grandes habilidades de diseño y gustos acorde a los tuyos para crear ese sitio web que tanto has soñado.
                </p>
              </div>
            </div>
            <!--service-info-col-->
          </div>
        </div>
        <!--service-col-->
        <div class="col-md-6 margin-btm-30 wow animated fadeInRight" data-wow-duration="700ms" data-wow-delay="200ms">
          <div class="row">
            <div class="col-md-2">
              <div class="service-icon">
                <i class="fa fa-video-camera"></i>
              </div>
            </div>
            <!--service-icon col-->
            <div class="col-md-10">
              <div class="service-info">
                <h4>Fotografía</h4>
                <p>
                  Obten esa foto increíble que tanto has deseado a tan sólo unos clicks de distancia.
                </p>
              </div>
            </div>
            <!--service-info-col-->
          </div>
        </div>
        <!--service-col-->
      </div>
      <!--services-row-->
      <div class="divided-50"></div>
      <div class="row">
        <div class="col-md-6 margin-btm-30 wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
          <div class="row">
            <div class="col-md-2">
              <div class="service-icon">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
            <!--service-icon col-->
            <div class="col-md-10">
              <div class="service-info">
                <h4>Computación</h4>
                <p>
                  ¿Problemas con tu computadora? ¿No sabes con quién acudir por ayuda? No te preocupes en cadena de favores tenemos el experto que necesitas.
                </p>
              </div>
            </div>
            <!--service-info-col-->
          </div>
        </div>
        <!--service-col-->
        <div class="col-md-6 margin-btm-30 wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
          <div class="row">
            <div class="col-md-2">
              <div class="service-icon">
                <i class="fa fa-users"></i>
              </div>
            </div>
            <!--service-icon col-->
            <div class="col-md-10">
              <div class="service-info">
                <h4>Gran Comunidad</h4>
                <p>
                  Tenemos una gran comunidad de usuarios con diferentes habilidades e ideas para que puedas obtener ese servicio que tanto buscas.
                </p>
              </div>
            </div>
            <!--service-info-col-->
          </div>
        </div>
        <!--service-col-->
      </div>
      <!--services-row-->
    </div>
  </section>
  <!--services-->
  <section id="work" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="center-heading text-center">
            <h2 class=" wow animated bounceIn" data-wow-duration="700ms" data-wow-delay="100ms">Portfolio de nuestra comunidad</h2>
            <span class="icon"><i class="fa fa-image"></i></span>
          </div>
          <!--center heading-->
        </div>
      </div>
      <!--center heading-->
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <p class="lead margin-btm-30">
            Esto portfolio muestra algunas de los increíbles proyectos que nuestros usuarios han realizado sin ningún costo.
          </p>
        </div>
      </div>
    </div>
    <div class="divided-50"></div>
    <div class="container  wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="200ms">
      <div class="row">
        <div class="col-md-12">
          <ul class="portfolio-filters text-center">
            <li class="filter active" data-filter="all">all</li>
            <li class="filter" data-filter="design">design</li>
            <li class="filter" data-filter="html">HTML5</li>
            <li class="filter" data-filter="wordpress">Wordpress</li>
            <li class="filter" data-filter="seo">Seo</li>
          </ul>
          <!--.portfolio-filter nav-->

          <div id="grid" class="row" style="       ">
            <div class="mix col-sm-4 design margin-btm-30">
              <div class="item-img-wrap ">
                <img src="img/work-1.png" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="img/work-1.png" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <!--item img wrap-->
              <div class="work-desc">
                <h4><a href="work-single.html">Logo Gunshop</a></h4>
                <em>wordpress / HTML5</em>
              </div>
              <!--work desc-->

            </div>
            <!--work item-->
            <div class="mix  col-sm-4 html margin-btm-30">
              <div class="item-img-wrap ">
                <img src="img/work-2.png" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="img/work-2.png" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <!--item img wrap-->
              <div class="work-desc">
                <h4><a href="work-single.html">Diseño web de OwlStore</a></h4>
                <em>wordpress / HTML5</em>
              </div>
              <!--work desc-->

            </div>
            <!--work item-->
            <div class="mix col-sm-4 wordpress design margin-btm-30">
              <div class="item-img-wrap ">
                <img src="img/work-3.png" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="img/work-3.png" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <!--item img wrap-->
              <div class="work-desc">
                <h4><a href="work-single.html">Proyecto MadnessStories</a></h4>
                <em>wordpress / HTML5</em>
              </div>
              <!--work desc-->

            </div>
            <!--work item-->
            <div class="mix col-sm-4 seo margin-btm-30">
              <div class="item-img-wrap ">
                <img src="img/work-8.png" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="img/work-8.png" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <!--item img wrap-->
              <div class="work-desc">
                <h4><a href="work-single.html">Logo CoffeeStore</a></h4>
                <em>wordpress / HTML5</em>
              </div>
              <!--work desc-->

            </div>
            <!--work item-->
            <div class="mix col-sm-4 design margin-btm-30">
              <div class="item-img-wrap ">
                <img src="img/work-5.png" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="img/work-5.png" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <!--item img wrap-->

              <div class="work-desc">
                <h4><a href="work-single.html">Diseño web de WeatherStation</a></h4>
                <em>wordpress / HTML5</em>
              </div>
              <!--work desc-->
            </div>
            <!--work item-->
            <div class="mix col-sm-4 html seo margin-btm-30">
              <div class="item-img-wrap ">
                <img src="img/work-6.png" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="img/work-6.png" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <!--item img wrap-->
              <div class="work-desc">
                <h4><a href="work-single.html">App de QuizAdventure</a></h4>
                <em>wordpress / HTML5</em>
              </div>
              <!--work desc-->

            </div>
            <!--work item-->
            <div class="mix col-sm-4 design wordpress margin-btm-30">
              <div class="item-img-wrap ">
                <img src="img/work-7.png" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="img/work-7.png" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <!--item img wrap-->
              <div class="work-desc">
                <h4><a href="work-single.html">Proyecto Águilas</a></h4>
                <em>wordpress / HTML5</em>
              </div>
              <!--work desc-->

            </div>
            <!--work item-->
            <div class="mix col-sm-4 html wordpress margin-btm-30">
              <div class="item-img-wrap ">
                <img src="img/work-4.png" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="img/work-4.png" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <!--item img wrap-->
              <div class="work-desc">
                <h4><a href="work-single.html">Proyecto Viaje en tu localidad</a></h4>
                <em>wordpress / HTML5</em>
              </div>
              <!--work desc-->
            </div>
            <!--work item-->
            <div class="mix col-sm-4 html wordpress margin-btm-30">
              <div class="item-img-wrap ">
                <img src="img/work-9.png" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="img/work-9.png" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <!--item img wrap-->
              <div class="work-desc">
                <h4><a href="work-single.html">Proyecto Mecatrónica en tu escuela</a></h4>
                <em>wordpress / HTML5</em>
              </div>
              <!--work desc-->
            </div>
            <!--work item-->
          </div>
          <!--#grid for filter items-->
        </div>
        <!--.col-md-12 of portfolio filter-->
      </div>
      <!--.row-->
    </div>
  </section>
  <!--work-->
  <section class="fun-facts parallax" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 margin-btm-30 text-center">
          <div class="fact-inner">
            <h1 class="counter">1450</h1>
            <h3>Proyectos Completados</h3>
          </div>
        </div>
        <!--facts col-->
        <div class="col-md-4 margin-btm-30 text-center">
          <div class="fact-inner">
            <h1><span class="counter">4245</span>+</h1>
            <h3>Usuarios Felices</h3>
          </div>
        </div>
        <!--facts col-->
        <div class="col-md-4 margin-btm-30 text-center">
          <div class="fact-inner">
            <h1><span class="counter">80000</span></h1>
            <h3>Horas Trabajadas</h3>
          </div>
        </div>
        <!--facts col-->
      </div>
    </div>
  </section>
  <!--fun facts-->

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="footer-col">
            <h3 class="widget-title">
                                Regístrate
                            </h3>
            <form role="form" class="subscribe-form">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter email to subscribe">
                <span class="input-group-btn">
                                        <a class="btn  btn-theme btn-lg" href="#">Ingresar</a>
                                        <!--<button class="btn  btn-theme btn-lg">Ok</button>-->
                                    </span>
              </div>
            </form>
          </div>
          <!--footer-col-->
        </div>
      </div>
    </div>
  </footer>
  <!--footer-->

  <div class="footer-btm">
    <div class="copyright text-center">
      Copyright &copy; 2014. Quick Theme. Powered by <a href="#">bootstrap</a> and <a href="#">Design_mylife</a>
    </div>
  </div>
  <!--footer-btm-->
  <!--back to top-->
  <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
  <!--back to top end-->
  <!--scripts and plugins -->
  <!--must need plugin jquery-->
  <script src="js/jquery.min.js"></script>
  <!--bootstrap js plugin-->
  <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <!--easing plugin for smooth scroll-->
  <script src="js/jquery.easing.1.3.min.js" type="text/javascript"></script>
  <script src="js/jquery.sticky.js" type="text/javascript"></script>
  <script src="js/jquery.mb.YTPlayer.min.js" type="text/javascript"></script>
  <!--digit countdown plugin-->
  <script src="js/jquery.counterup.min.js" type="text/javascript"></script>
  <!--on scroll animation-->
  <script src="js/wow.min.js" type="text/javascript"></script>
  <!--easy pie charts-->
  <script src="js/waypoints.min.js" type="text/javascript"></script>
  <script src="js/easypiechart.js" type="text/javascript"></script>
  <script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
  <script src="js/jquery.mixitup.min.js" type="text/javascript"></script>
  <script src="js/jquery.stellar.min.js" type="text/javascript"></script>
  <!--owl carousel slider-->
  <script src="js/owl.carousel.min.js" type="text/javascript"></script>
  <!--twitter feed-->
  <script src="js/tweetie.min.js" type="text/javascript"></script>
  <!--popup js-->
  <script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
  <script src="js/jquery.backstretch.min.js" type="text/javascript"></script>

  <!--valid / working contact form js-->
  <script src="js/contact_me.js" type="text/javascript"></script>
  <script src="js/jqBootstrapValidation.js" type="text/javascript"></script>
  <!--customizable plugin edit according to your needs-->
  <script src="js/custom.js" type="text/javascript"></script>
</body>

</html>