<li>
  <%= link_to activity_path(activity) do %>
    <span class="label label-danger"><i class="fa fa-heart" data-original-title="" title=""></i></span>
      Tienes un nuevo seguidor
  <% end %>
</li>