<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">
      Mis Transacciones
    </h2>
  </div>
</div>

<div class="row" id="store-list">
  <div class="col-lg-12">

    <%= render "transactions_list" %>
    
  </div>
</div>