<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Solicitudes de servicio</h2>
  </div>
</div>


<div class="row" id="store-list">
  <div class="col-lg-12">

    <%= render "search_form" %>

    <% if params[:search] && !params[:search].empty? %>
      <h3>Mostrando resultados de: "<%= params[:search] %>"</h3>
    <% end %>

    <% if params[:tag] && !params[:tag].empty? %>
      <h3>Mostrando resultados de categoria: "<%= @tags.find(params[:tag]).name %>"</h3>
    <% end %>

    <%= render "list" %>
    
  </div>
</div>
