<li class="list-group-item">
  <i class=" fa fa-suitcase fa-2x icon"></i>
  Oferta aceptada
  <% if activity.trackable %>
    <% service_arrangement = activity.trackable %>
    de <%= link_to service_arrangement.client.name, activity.trackable.client %> para 
    <%= link_to service_arrangement.offer.service_request.service.title, service_arrangement.offer.service_request %>
  <% end %>  
</li>