<li class="list-group-item">
  <i class=" fa fa-suitcase fa-2x icon"></i>
  Oferta aceptada
  <% if activity.trackable %>
    <% service_arrangement = activity.trackable %>
    de <%= link_to service_arrangement.client.name, activity.trackable.client %> para 
    <%= service_arrangement.service.title %>
  <% end %>  
</li>