<%= paginate @users %>
<% @users.each do |user| %>
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="title-store">
            <strong>Nombre: </strong>
              <%= link_to user.name, user %>
            <div class="pull-right">
              <strong>Email: </strong>
              <%= user.email %>
            </div>
          </h4>
          <hr>
          <hr>
        </div>
      </div>
    </div>
  </div>
<%end%>
<%= paginate @users %>