<%= render 'site/site/navbar' %>

<section class="testimonials section-padding bg-heading">
  <div class="container">

    <div class="row">
      
      <div class="col-md-12">
        <div class="center-heading text-center">
          <h2>Regístrate</h2>
          <span class="icon"><i class="fa fa-sign-in"></i></span>
        </div>
      </div>

      <div class="form col-md-6 col-md-offset-3">

        <%= render 'form' %>

      </div>

    </div>
  </div>
</section>
<!--about section end-->