<div class="footer-bottom">
  <div class="container">
    <div class="footer-bottom-widget">
      <div class="row">
        <div class="col-sm-6">
          <p>
            <span class="sosmed-footer">
            </span> © 2015 <strong>Cadena de </strong>Favores<strong>.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>