<div id="window-resizer-tooltip" style="display: none;">
  <a href="#" title="Edit settings"></a>
  <span class="tooltipTitle">Window size: </span>
  <span class="tooltipWidth" id="winWidth">
    1366</span> x <span class="tooltipHeight" id="winHeight">741
  </span>
  <br>
  <span class="tooltipTitle">
    Viewport size: </span><span class="tooltipWidth" id="vpWidth">1366</span> x <span class="tooltipHeight" id="vpHeight">253
  </span>
</div>