<!-- start:breadcrumb -->
<ol class="breadcrumb">
  <li><a href="#">Home</a>
  </li>
  <li class="active">Dashboard</li>
</ol>
<!-- end:breadcrumb -->

<div class="row">
  <div class="col-lg-12">
    <div class="blank-page">
      <p>Goes Page Here.</p>
    </div>
  </div>
</div>
