<div class="well">
  <h3>Nueva Oferta <i class=" fa fa-tag icon"></i></h3>
  <hr>
  El usuario 
  <% if activity.trackable %>
    <% offer = activity.trackable %>
    <% service = offer.service_request.service %>

    <%= link_to offer.user.name, offer.user %>
    ha realizado una nueva oferta en 
    <%= link_to service.title, offer.service_request %>

  <% end %>
</div>