<div class="well">
  <h3>Oferta aceptada <i class=" fa fa-suitcase icon"></i></h3>
  <hr>
  Oferta aceptada
  <% if activity.trackable %>
    <% service_arrangement = activity.trackable %>
    de <%= link_to service_arrangement.client.name, activity.trackable.client %> para 
    <%= service_arrangement.service.title %>
  <% end %>  
</div>